@media screen and (max-width: 768px) {
  section#products {
    /*text-align: center;*/
    flex-direction: column;
  }
  .product {
    width: auto;
    max-width: none;
  }
}

@media (max-width: 700px) {
  .child {
    min-width: 33.33%; 
  }
}

@media (max-width: 400px) {
  .child {
    min-width: 50%; 
  }
}

@media (min-width: 1200px) {
    .col-lg-1 {
        width: 8.33333%
    }

    .col-lg-2 {
        width: 16.66667%
    }

    .col-lg-3 {
        width: 25%;
    }
}