@color-base: #fcefec;
@background-base: url('/img/crossword.png');
@background-dots: url('/img/header.png');

@button-color: #fff;
@button-border-color:#dfac96;;
@button-border-size: 1px solid;

@product-width: 287px;
@product-height: 300px;

@text-align-center: center;
@text-color: black;

@product-margin-bottom: 2em;
@amount-margin-bottom: 1em;

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
